In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("HR_comma_sep.csv",index_col=0)

In [3]:
df.head()

,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,left
satisfaction_level,,,,,,,,,
0.38,0.53,2,157,3,0,0,sales,low,1
0.80,0.86,5,262,6,0,0,sales,medium,1
0.11,0.88,7,272,4,0,0,sales,medium,1
0.72,0.87,5,223,5,0,0,sales,low,1
0.37,0.52,2,159,3,0,0,sales,low,1

In [4]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# sales (column name) better be called department
print(df['department'].value_counts())
print(df['salary'].value_counts())

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(df.drop('left',axis=1))

In [ ]:
scaled_features = scaler.transform(df.drop('left',axis=1))

In [ ]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(scaled_features,df['left'],
                                                    test_size=0.30)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(X_train,y_train)

In [ ]:
pred = knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(confusion_matrix(y_test,pred))

In [ ]:
print(classification_report(y_test,pred))

In [ ]:
error_rate = []

# Will take some time
for i in range(1,40):
    
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(range(1,40),error_rate,color='blue', linestyle='dashed', marker='o',
         markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value')
plt.xlabel('K')
plt.ylabel('Error Rate')